@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --very-dark-cyan: hsl(159, 38%, 15%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(30, 38%, 92%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    height: 100vh;
    width: 100vw;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    width: 342px;
    height: 610px;
    background: var(--white);
    border-radius: 12px;
}

.image-container {
    height: 240px;
}

.image-container img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    filter: brightness(0.9);
}

.font-fraunces {
    font-family: 'Fraunces', serif;
}

.category {
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 12px;
    color: var(--dark-grayish-blue)
}

.detail {
    padding: 24px;
}

.title {
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 1.1;
}

.detail p {
    color: var(--dark-grayish-blue);
    line-height: 1.7;
}

.prices {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.prices div:nth-child(1) {
    color: var(--dark-cyan);
    font-size: 32px;
    font-weight: 700;
}

.prices div:nth-child(2) {
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
    font-size: 13px;
}

.detail button {
    margin-top: 16px;
    border: none;
    background: var(--dark-cyan);
    color: var(--white);
    padding: 15px 20px;
    font-weight: 700;
    border-radius: 6px;
    width: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.4s;
    cursor: pointer;
}

.detail button:hover {
    background: var(--very-dark-cyan);
}

.desktop-only {
    display: none;
}

@media screen and (min-width: 375px) {
    .container {
        display: flex;
    }

    .image-container {
        width: 55%;
        height: unset;
    }

    .detail {
        width: 45%;
    }

    .image-container img {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }

    .container {
        width: 600px;
        height: 450px;
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    .detail {
        padding: 34px;
    }

    .title {
        margin-top: 20px;
    }

    .detail p {
        margin-top: 20px;
    }

    .prices {
        margin-top: 26px;
    }

    .detail button {
        margin-top: 26px;
    }
}